@font-face {
  font-family: "Sauyan_sans";
  src: local("Sauyan_sans"), url("../saiyan_sans/Saiyan-Sans.ttf") format("opentype") tech(color-COLRv1);
}
* {
  font-family: "Sauyan_sans";
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: flex-start;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image: url("../image/goku\ accueil.jpg");
  width: 100%;
}

.ContainerAccueil {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* titre */
.titre {
  display: flex;
  justify-content: flex-start;
}

.boutton {
  display: flex;
    justify-content: flex-end;
    margin: 12%;
}

.Morpion {
  font-size: 10vw;}

.Mor {
  color: #fef400;
  text-transform: uppercase;
  -webkit-text-stroke: 0.2vw #000000;
}

.Pion {
  color: #ef2121;
  text-transform: uppercase;
  -webkit-text-stroke: 0.2vw #000000;
}

.Mor1 {
  transform-origin: 50% 44px;
  transform: translate(1071%, 84%) rotate(0.1885rad);
  z-index: 1;
}

.Mor2 {
  transform-origin: 50% 44px;
  transform: translate(1300%, 92%) rotate(0.192477rad);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 26%, rgb(255, 4, 4) 42%, rgb(250, 0, 0) 49%, rgba(0, 0, 0, 0) 35%);
}

.Mor3 {
  transform-origin: 50% 44px;
  transform: translate(1618%, 91%) rotate(0.073365rad);
  z-index: 0;
}

.Pion1 {
  transform-origin: 50% 44px;
  transform: translate(1687%, 90%) rotate(-0.045856rad);
  z-index: 1;
}

.Pion2 {
  transform-origin: 50% 44px;
  transform: translate(2832%, 90%) rotate(6.1808rad);
  z-index: 1;
}

.Pion3 {
  transform-origin: 50% 44px;
  transform: translate(1256%, 91%) rotate(-0.267918rad);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 26%, rgb(0, 0, 0) 42%, rgb(250, 0, 0) 49%, rgba(0, 0, 0, 0) 35%);
}

.Pion4 {
  transform-origin: 50% 44px;
  transform: translate(1400%, 81%) rotate(6.0125rad);
  z-index: 1;
}

/* boutton play */
.Boutton {
  background: linear-gradient(to right, #fef400, #ef7021, #ef2121);
  text-decoration: none;
  width: 17vw;
  color: black;
  height: 1.8em;
  font-size: 3vw;
  border: 3px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 3px 3px 3px black;
}

.Boutton:hover {
  background: linear-gradient(to right, #ef2121, #ef7021, #fef400);
}


/* **************************************responsive ************************************************/
@media screen and (max-width: 715px) {
  body {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  background-image: url("../image/AccueilResponsive.jpg");

  }

  .Morpion {
    font-size: 25vw;}
  

  .Mor1 {
    transform-origin: 50% 44px;
    transform: translate(100%, 84%) rotate(0.1885rad);
    z-index: 1;
  }
  
  .Mor2 {
    transform-origin: 50% 44px;
    transform: translate(100%, 92%) rotate(0.192477rad);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 26%, rgb(255, 4, 4) 42%, rgb(250, 0, 0) 49%, rgba(0, 0, 0, 0) 35%);
  }
  
  .Mor3 {
    transform-origin: 50% 44px;
    transform: translate(100%, 91%) rotate(0.073365rad);
    z-index: 0;
  }
  
  .Pion1 {
    transform-origin: 50% 44px;
    transform: translate(100%, 90%) rotate(-0.045856rad);
    z-index: 1;
  }
  
  .Pion2 {
    transform-origin: 50% 44px;
    transform: translate(146%, 90%) rotate(6.1808rad);
    z-index: 1;
  }
  
  .Pion3 {
    transform-origin: 50% 44px;
    transform: translate(46%, 91%) rotate(-0.267918rad);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 26%, rgb(0, 0, 0) 42%, rgb(250, 0, 0) 49%, rgba(0, 0, 0, 0) 35%);
  }
  
  .Pion4 {
    transform-origin: 50% 44px;
    transform: translate(34%, 81%) rotate(6.0125rad);
    z-index: 1;
  }
  .Boutton {
    width: 40vw;
    height: 4em;
    margin-right: 29%;
    margin-top: 40%;
  }
}

@media screen and (max-width: 587px) {

  .Morpion {
    font-size: 25vw;}
  

  .Mor1 {
    transform-origin: 50% 44px;
    transform: translate(100%, 84%) rotate(0.1885rad);
    z-index: 1;
  }
  
  .Mor2 {
    transform-origin: 50% 44px;
    transform: translate(100%, 92%) rotate(0.192477rad);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 26%, rgb(255, 4, 4) 42%, rgb(250, 0, 0) 49%, rgba(0, 0, 0, 0) 35%);
  }
  
  .Mor3 {
    transform-origin: 50% 44px;
    transform: translate(100%, 91%) rotate(0.073365rad);
    z-index: 0;
  }
  
  .Pion1 {
    transform-origin: 50% 44px;
    transform: translate(100%, 90%) rotate(-0.045856rad);
    z-index: 1;
  }
  
  .Pion2 {
    transform-origin: 50% 44px;
    transform: translate(146%, 90%) rotate(6.1808rad);
    z-index: 1;
  }
  
  .Pion3 {
    transform-origin: 50% 44px;
    transform: translate(46%, 91%) rotate(-0.267918rad);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 26%, rgb(0, 0, 0) 42%, rgb(250, 0, 0) 49%, rgba(0, 0, 0, 0) 35%);
  }
  
  .Pion4 {
    transform-origin: 50% 44px;
    transform: translate(34%, 81%) rotate(6.0125rad);
    z-index: 1;
  }
  .Boutton {
    width: 40vw;
    height: 4em;
    margin-right: 29%;
    margin-top: 40%;
}
}
